<nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="{% url 'players' %}" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="/static/src/icon.png" class="h-8" alt="MyFifa24 Logo" />
            <span class="self-center text-2xl font-bold whitespace-nowrap dark:text-white">MyFifa24</span>
        </a>
        <div class="relative flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
            <button type="button"
                class="flex rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
                id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown"
                data-dropdown-placement="bottom">
                <span class="sr-only">Open user menu</span>
                <svg class="w-10 h-10 text-green-500 dark:text-white" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd"
                        d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z"
                        clip-rule="evenodd" />
                </svg>
            </button>
            <!-- Dropdown menu -->
            <div class="absolute top-16 right-0 z-50 hidden text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
                id="user-dropdown">
                <div class="px-4 py-3">
                    <span class="block text-sm text-gray-900 dark:text-white">{{ user.username }}</span>
                    <span class="block text-sm  text-gray-500 truncate dark:text-gray-400">{{ user.email }}</span>
                </div>
                <ul class="py-2" aria-labelledby="user-menu-button">
                    <li>
                        <a href="{% url 'logout' %}"
                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Logout</a>
                    </li>
                </ul>
            </div>
            <button data-collapse-toggle="navbar-user" type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                aria-controls="navbar-user" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 1h15M1 7h15M1 13h15" />
                </svg>
            </button>
        </div>
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
            <ul
                class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                <li>
                    {% if request.path == '/players/' %}
                    <a href="{% url 'players' %}"
                        class="block py-2 px-3 font-bold text-white bg-green-500 rounded md:bg-transparent md:text-green-500 md:p-0 md:dark:text-green-500"
                        aria-current="page">Players</a>
                    {% else %}
                    <a href="{% url 'players' %}"
                        class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-green-700 md:p-0 dark:text-white md:dark:hover:text-green-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Players</a>
                    {% endif %}
                </li>
                <li>
                    {% if request.path == '/leagues/' %}
                    <a href="{% url 'leagues' %}"
                        class="block py-2 px-3 font-bold text-white bg-green-500 rounded md:bg-transparent md:text-green-500 md:p-0 md:dark:text-green-500"
                        aria-current="page">Leagues</a>
                    {% else %}
                    <a href="{% url 'leagues' %}"
                        class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-green-700 md:p-0 dark:text-white md:dark:hover:text-green-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Leagues</a>
                    {% endif %}
                </li>
                <li>
                    {% if request.path == '/teams/' %}
                    <a href="#"
                        class="block py-2 px-3 font-bold text-white bg-green-500 rounded md:bg-transparent md:text-green-500 md:p-0 md:dark:text-green-500"
                        aria-current="page">Game</a>
                    {% else %}
                    <a href="#"
                        class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-green-700 md:p-0 dark:text-white md:dark:hover:text-green-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Game</a>
                    {% endif %}
                </li>
                <li>
                    {% if request.path == '/squads/' %}
                    <a href="#"
                        class="block py-2 px-3 font-bold text-white bg-green-500 rounded md:bg-transparent md:text-green-500 md:p-0 md:dark:text-green-500"
                        aria-current="page">My Squads</a>
                    {% else %}
                    <a href="{% url 'squads' %}"
                        class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-green-700 md:p-0 dark:text-white md:dark:hover:text-green-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">My Squads</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var dropdowns = document.querySelectorAll('[data-dropdown-toggle]');
        var collapses = document.querySelectorAll('[data-collapse-toggle]');

        dropdowns.forEach(function (dropdown) {
            dropdown.addEventListener('click', function () {
                var dropdownMenu = document.getElementById(dropdown.getAttribute('data-dropdown-toggle'));
                var isVisible = dropdownMenu.classList.contains('hidden');
                dropdownMenu.classList.toggle('hidden', !isVisible);
                dropdown.setAttribute('aria-expanded', isVisible);
            });
        });

        collapses.forEach(function (collapse) {
            collapse.addEventListener('click', function () {
                var target = document.getElementById(collapse.getAttribute('aria-controls'));
                var isVisible = target.classList.contains('hidden');
                target.classList.toggle('hidden', !isVisible);
                collapse.setAttribute('aria-expanded', isVisible);
            });
        });
    });
</script>