{% extends "_base.html" %}

{% block content %}

{% load functions %}

{% include "navbar.html" %}

<div class="flex max-w-screen-xl mx-auto py-10 my-10 text-white bg-gray-800 bg-opacity-60 rounded-lg">
    <div class="grid grid-rows-2 border-r-2 border-gray-900 px-5">
        <div class="flex items-center justify-center pb-5">
            <img src="{{ player.card }}" alt="{{ player.name }}" class="w-96 object-contain">
        </div>
        <div class="grid grid-cols-2">
            <div class="flex flex-col">
                <span class="fflex items-center h-8">
                    Name
                </span>
                <span class="flex items-center h-8">
                    Team
                </span>
                <span class="flex items-center h-8">
                    Nation
                </span>
                <span class="flex items-center h-8">
                    Gender
                </span>
                <span class="flex items-center h-8">
                    Skills
                </span>
                <span class="flex items-center h-8">
                    Weak Foot
                </span>
                <span class="flex items-center h-8">
                    Foot
                </span>
                <span class="flex items-center h-8">
                    Height
                </span>
                <span class="flex items-center h-8">
                    Weight
                </span>
                <span class="flex items-center h-8">
                    Att. WR
                </span>
                <span class="flex items-center h-8">
                    Def. WR
                </span>
                <span class="flex items-center h-8">
                    Age
                </span>
            </div>
            <div class="flex flex-col">
                <span class="font-bold items-center h-8">
                    {{ player.name }}
                </span>
                <span class="flex items-center h-8">
                    <img src="{{ player.team }}" alt="{{ player.teamName }}" class="h-8 object-contain mr-2">
                    <a href="/team/{{ player.teamid }}" class="underline hover:text-blue-500">
                        {{ player.teamName }}
                    </a>
                </span>
                <span class="flex items-center h-8">
                    <img src="{{ player.flag }}" alt="{{ player.nationality }}" class="h-8 object-contain mr-2">
                    {{ player.nationality }}
                </span>
                <span class="flex items-center h-8">
                    {{ player.gender }}
                </span>
                <span class="flex items-center h-8">
                    {{ player.skills }}
                    <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path
                      d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z" />
                  </svg>
                </span>
                <span class="flex items-center h-8">
                    {{ player.weakfoot }}
                    <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path
                      d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z" />
                  </svg>
                </span>
                <span class="flex items-center h-8">
                    {{ player.foot|compute_foot }}
                </span>
                <span class="flex items-center h-8">
                    {{ player.height }} cm
                </span>
                <span class="flex items-center h-8">
                    {{ player.weight }} kg
                </span>
                <span class="flex items-center h-8">
                    {{ player.attwr|compute_full_wr }}
                </span>
                <span class="flex items-center h-8">
                    {{ player.defwr|compute_full_wr }}
                </span>
                <span class="flex items-center h-8">
                    {{ player.birth|compute_age }} years old
                </span>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-3 grid-rows-2 w-full">
        <div>
            <div class="flex h-full my-auto justify-center">
                Teste 1
            </div>
            <div class="flex h-full my-auto justify-center">
                Teste 2
            </div>
            <div class="flex h-full my-auto justify-center">
                Teste 3
            </div>
        </div>
        <div>
            <div>
                Teste 1
            </div>
            <div>
                Teste 2
            </div>
            <div>
                Teste 3
            </div>
        </div>
        <div>
            <div>
                Teste 1
            </div>
            <div>
                Teste 2
            </div>
            <div>
                Teste 3
            </div>
        </div>
    </div>
</div>
{% endblock content %}