{% extends "_base.html" %} {% block content %} {% include "navbar.html" %}

<div
  class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
>
  <!-- Filter line with dropdowns -->
  <div class="container mx-auto px-4 mb-4">
    <div class="flex justify-between">
      <!-- Nationality filter -->
      <div class="w-1/4">
        <form action="." method="get">
          <label for="nationality" class="block text-white">Nationality:</label>
          <select
            id="nationality"
            name="nationality"
            class="w-full px-4 py-2 text-white bg-gray-800 opacity-80 border-0 rounded-md"
            onchange="this.form.submit();"
          >
            <option value="">Select Nationality</option>
            <!-- Example options -->
            <option value="USA">USA</option>
            <option value="England">England</option>
            <!-- Add more nationalities as needed -->
          </select>
        </form>
      </div>
      <!-- League filter -->
      <div class="w-1/4">
        <form action="." method="get">
          <label for="league" class="block text-white">League:</label>
          <select
            id="league"
            name="league"
            class="w-full px-4 py-2 text-white bg-gray-800 opacity-80 border-0 rounded-md"
            onchange="this.form.submit();"
          >
            <option value="">Select League</option>
            <!-- Example options -->
            <option value="Premier League">Premier League</option>
            <option value="La Liga">La Liga</option>
            <!-- Add more leagues as needed -->
          </select>
        </form>
      </div>
      <!-- Gender filter -->
      <div class="w-1/4">
        <form action="." method="get">
          <label for="gender" class="block text-white">Gender:</label>
          <select
            id="gender"
            name="gender"
            class="w-full px-4 py-2 text-white bg-gray-800 opacity-80 border-0 rounded-md"
            onchange="this.form.submit();"
          >
            <option value="">Select Gender</option>
            <option value="Men's Football">Male</option>
            <option value="Women's Football">Female</option>
          </select>
        </form>
      </div>
      <!-- Position filter -->
      <div class="w-1/4">
        <form action="." method="get">
          <label for="position" class="block text-white">Position:</label>
          <select
            id="position"
            name="position"
            class="w-full px-4 py-2 text-white bg-gray-800 opacity-80 border-0 rounded-md"
            onchange="this.form.submit();"
          >
            <option value="">Select Position</option>
            <!-- Example options -->
            <option value="Goalkeeper">Goalkeeper</option>
            <option value="Defender">Defender</option>
            <!-- Add more positions as needed -->
          </select>
        </form>
      </div>
    </div>
  </div>

  <div class="container mx-auto px-4">
    <table class="table-auto w-full text-white bg-gray-800 opacity-80">
      <thead>
        <tr>
          <th class="px-2 py-4 text-center"></th>
          <!-- Replacing "Name" with a search bar -->
          <th class="px-4 py-2 text-center">
            <form action="." method="get">
              <input
                type="text"
                name="name"
                placeholder="Search by name"
                class="w-full px-4 py-2 text-white bg-gray-800 opacity-80 border-0 rounded-md"
              />
            </form>
          </th>
          <th class="px-2 py-2 text-center">Club</th>
          <th class="px-4 py-2 text-center">Nationality</th>
          <th class="px-4 py-2 text-center">
            <a
              href="?ascending={% if request.GET.ascending == 'true' %}false{% else %}true{% endif %}"
            >
              OVR
            </a>
          </th>
          <th class="px-2 py-2 text-center">Position</th>
          <th class="px-2 py-2 text-center">Gender</th>
          <th class="px-2 py-2 text-center">Skill Moves</th>
          <th class="px-2 py-2 text-center">Week Foot Ability</th>
          <th class="px-2 py-2 text-center">Work Rate</th>
          <th class="px-2 py-2 text-center">PAC</th>
          <th class="px-2 py-2 text-center">SHO</th>
          <th class="px-2 py-2 text-center">PAS</th>
          <th class="px-2 py-2 text-center">DRI</th>
          <th class="px-2 py-2 text-center">DEF</th>
          <th class="px-2 py-2 text-center">PHY</th>
        </tr>
      </thead>
      <tbody>
        {% for player in players %}
        <tr
          class="{{ forloop.counter|divisibleby:'2'|yesno:'bg-gray-700,bg-gray-800' }}"
        >
          <td class="border px-2 py-2 text-center">
            <img
              src="{{ player.image }}"
              alt="{{ player.name }}"
              class="w-12 h-12 object-cover"
            />
          </td>
          <!-- The "Name" column is now the search bar -->
          <td class="border px-4 py-2 text-center">{{ player.name }}</td>
          <td class="border px-4 py-2 text-center">
            <img src="{{ player.team }}" class="w-14 h-12 object-cover" />
          </td>
          <td class="border px-4 py-2 text-center">{{ player.nationality }}</td>
          <td class="border px-4 py-2 text-center">{{ player.ovr }}</td>
          <td class="border px-4 py-2 text-center">{{ player.position }}</td>
          <td class="border px-4 py-2 text-center">
            {{ player.gender|slice:":1" }}
          </td>
          <td class="border px-4 py-2 text-center">{{ player.skills }}</td>
          <td class="border px-4 py-2 text-center">{{ player.weakfoot }}</td>
          <td class="border px-4 py-2 text-center">{{ player.attwr }}</td>
          <td class="border px-4 py-2 text-center">{{ player.stats.pac }}</td>
          <td class="border px-4 py-2 text-center">{{ player.stats.sho }}</td>
          <td class="border px-4 py-2 text-center">{{ player.stats.pas }}</td>
          <td class="border px-4 py-2 text-center">{{ player.stats.dri }}</td>
          <td class="border px-4 py-2 text-center">{{ player.stats.def }}</td>
          <td class="border px-4 py-2 text-center">{{ player.stats.phy }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- Adjust the container for the table with bigger horizontal margins -->
  <div class="container mx-auto mt-8 px-8">
    <!-- Pagination controls -->
    <div class="pagination text-right">
      <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1" class="text-white hover:text-gray-300"
          >&laquo; first</a
        >
        <a
          href="?page={{ page_obj.previous_page_number }}"
          class="text-white hover:text-gray-300"
          >previous</a
        >
        {% endif %}

        <span class="current text-white">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a
          href="?page={{ page_obj.next_page_number }}"
          class="text-white hover:text-gray-300"
          >next</a
        >
        <a
          href="?page={{ page_obj.paginator.num_pages }}"
          class="text-white hover:text-gray-300"
          >last &raquo;</a
        >
        {% endif %}
      </span>
    </div>
  </div>
</div>
{% endblock %}
